*.iml
.gradle
.DS_Store
.externalNativeBuild
.cxx
/local.properties
/.creds/keystore.jks
/.creds/keystore.properties
/build
/*/build
/captures
/.idea/shelf/
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/dictionaries/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
/.idea/deploymentTargetDropDown.xml
/.idea/androidTestResultsUserPreferences.xml
/site
/.idea/kotlinc.xml
/.idea/codeStyles
