<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketCI">
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name="com.kevalpatel2106.pocketci.host.HostActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.kevalpatel2106.pocketci.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.kevalpatel2106.pocketci.initializer.FlipperInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.kevalpatel2106.pocketci.initializer.AnalyticsInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>